<div class="container"> 
    <div class="jumbotron text-center">
        <h1>
            <span class="glyphicon glyphicon-shopping-cart"></span> Shopping List
            <span class="label label-info">{{ $ctrl.list.length }}</span></h1>
    </div>
    <!-- shopping list-->
    <div id="shop-list" class="row">
        <div class="item-list col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-4">
            <div class="checkbox" ng-repeat="item in $ctrl.list">
                <label>
                    <input type="checkbox" checklist-model="$ctrl.user.list" checklist-value="item"
                        ng-click="$ctrl.updateSelectedItems(item)" ng-dblclick="$ctrl.deleteItem(item._id)"> {{ item.text }} 
                </label>
                <div ng-if="item.star" class="col-xs-2">
                    <span class="glyphicon glyphicon-star" ng-click="$ctrl.starredItem(item)"></span>
                </div>
                <div ng-if="!item.star" class="col-xs-2">
                    <span class="glyphicon glyphicon-star-empty" ng-click="$ctrl.starredItem(item)"></span>
                </div>
            </div>
        </div>
    </div>
    <!--Form for new items-->
    <div id="form" class="row">
        <div class="col-sm-4 col-sm-offset-4 text-center">
            <form>
                <div class="form-group">
                    <input type="text" class="form-control input-lg text-center" placeholder="Add new item" ng-model="$ctrl.formItem.text">
                </div>
                <button class="btn btn-primary btn-md" ng-click="$ctrl.createItem()">
                    <span class="glyphicon glyphicon-plus"></span> Add
                </button>
                <button class="btn btn-warning btn-md" ng-click="$ctrl.wipe()">
                    <span class="glyphicon glyphicon-remove"></span> Wipe
                </button>
                <a href="#!/admin" class="btn btn-success btn-md" role="button">
                    <span class="glyphicon glyphicon-star-empty"></span> Starred
                </a>
            </form>
        </div>
    </div>
</div>