.container {
    margin: auto;
    width: 100%;
    background: 
        linear-gradient(
        rgba(255, 255, 255, 0.80), 
        rgba(255, 255, 255, 0.80)
        ), 
        url(../img/background.jpg) center top;
    background-size: cover;
    background-repeat:no-repeat;
}

.jumbotron, #shop-list .item-list {
    opacity: 0.9;
}

#shop-list .item-list {
    background: white;
    margin-bottom: 25px;
}

input[type=checkbox]:checked + label {
  text-decoration: line-through;
}

.check-star {
    float: right;
}

.glyphicon-star, .glyphicon-star-empty {
  color:#FFD700;
  font-size: 18px;
}

.glyphicon-star.white {
    color: white;
    font-size: 15px;
}
